* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
}

body {
	width: 650px;
	margin: auto;
}

main {
	height: 380px;
}

header {
	margin-top: 45px;
}

h1 {
	font-size: 1.8em;
	margin: 0.5em;
}

p {
	font-size: 0.9em;
	line-height: 1.4em;
}

img {
	border: 5px solid white;
	border-color: white;
	-webkit-border-radius: 100px;
	border-radius: 100px; /* Standard border-radius */
	float: left; /* Makes text wrap around the image */
	margin-right: 25px; /* Adds space between image and text */
	shape-outside: circle(); /* Ensures text wraps around the circular shape */
}

button {
	padding: 5px 5px;
	margin: 5px;
	font-size: 10px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f0f0f0;
}

#bottom {
	height: 400px;
	width: inherit;
}

#restart {
	height: 47px;
	cursor: pointer;
}

#border {
	height: 300px;
	width: 250px;
	border: 5px solid white;
}

#statusMessage {
	width: inherit;
	height: 30px;
}

#game {
	width: inherit;
	height: auto;
}

.flex {
	display: flex;
}

.wrap {
	-webkit-flex-wrap: wrap:
}

.fade {
	opacity: 30%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.buttons {
	justify-content: flex-end;
	height: 50px;
	-webkit-column-gap: 10px;
}

.halfs {
	height: 300px;
	width: 250px;
	margin: auto;
}

.darkBack {
	background-color: #efefef;
}

.line {
	height: 10px;
	width: 650px;
}

.relative {
	position: relative;
}

.cell {
	width: 10px;
	height: 10px;
}

.gray {
	background-color: #696969;
}

.runway::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 1px;
	background: #696969;
	top: 0; /* Positioned at the top */
	left: 0;
}

.runway::after {
	content: "";
	position: absolute;
	width: 5px;
	height: 1px;
	background: #696969;
	bottom: 0;
	left: 0;
}

.runway span {
	position: absolute;
	width: 2px;
	height: 1px;
	background: #696969;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
